* {
    margin: 0;
    padding: 0;
    border: 0;
}

.content {
    background-color: blue;
    color: white;
    margin: 5px auto;
    width: 600px;
}

img {
    float: right;
    padding: 0 0 15px 15px;
}