* {
    margin: 0;
    padding: 0;
    border: 0;
}

.box {
    background-color: aquamarine;
    width: 99%;
    margin: 7px;
    border: 1px solid forestgreen;
    height: 240px;
}

img {
    float: right;
    height: 240px;
}