* {
    padding: 0;
    margin: 0;
    border: 0;
  }

  header {
    background-color: #EAEAEA;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 0.8em;
    display: block; 
    text-align: left;
    width: 100%;
    padding: 5px 0 35px 5px; 
  }

  div#left_column {
    background-color: #C8FC98;
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.9em;
    float: left; 
    width: 200px;
    height: 100%;
    padding: 0 5px 0px 10px;
    line-height: 1.3;
    margin-right: 5px;
  }

  div#content_column {
    display: block;
    width: 100%;
    line-height: 1.39;
  }

  #content_column p {
    display: inline;
  }

  h6 {
    display: inline;
    color: red;
    font-style: italic;
    font-size: 0.9em;
    font-weight: bold;
  }

  footer {
    background-color: black;
    width: 100%;
    padding: 5px 0 5px 0;
    position: absolute; 
    bottom: 0;
  }

  div#link {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.9em;
    padding: 10px auto;
}

  a {
    color: #FFFF80;
    text-decoration: underline;
  }