* {
    margin: 0;
    padding: 0;
    border: 0;
}

.blue_box {
    background-color: aqua;
    width: 99%;
    position: relative;
    margin: 7px; 
    border: 1px solid forestgreen;
}

.list {
    background-color: bisque;
    color: black;
    width: 240px;
    height: 80px;
    position: absolute;
}

.list ul {
    text-align: left;
    padding: 10px 0 0 40px;
}

.text_block {
    background-color: darkgray;
    color: black ;
    position: relative;
    margin-left: 240px; 
} 

@media screen and (max-width:800px) {
    .list {
        height: auto;
        width: 100%; 
        float: left; 
        margin: 15px 0;
    }

    .list li {
        display: inline;
        list-style: none;
    }

    .text_block {
        height: auto;
        width: 100%;
        margin-top: 60px; 
        margin-left: 0px; 
    } 
}
    